body {
  background-color: black;
  color: burlywood;
  font-family: "Courier New", serif;
  font-size: 40px;
}

input {
  background-color: brown;
  border-radius: 4px;
}

.btn {
  background-color: burlywood;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-family: "Courier New", serif;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-flow: column;
}

.shortify-form {
  display: flex;
  justify-content: center;
}

.home-link {
  display: flex;
  justify-content: center;
  background-color: burlywood;
  flex-flow: row;
  margin-bottom: 20px;
}

.site-name > a {
  display: flex;
  color: #1a202c;
  text-decoration: none;
}
