body {
  background-color: black;
  color: burlywood;
  font-family: "Courier New", serif;
  font-size: 40px;
}

input {
  background-color: brown;
  border-radius: 4px;
}

.btn {
  background-color: burlywood;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-family: "Courier New", serif;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-flow: column;
}

.shortify-form {
  display: flex;
  justify-content: center;
}

.home-link {
  display: flex;
  justify-content: center;
  background-color: burlywood;
  flex-flow: row;
  margin-bottom: 20px;
}

.site-name > a {
  display: flex;
  color: #1a202c;
  text-decoration: none;
}

.input-create-link {
  border-radius: 10px;
  border-color: burlywood;
}

.copy-btn {
  color: brown;
}

.copy-btn:hover {
  background-color: antiquewhite;
  border: double brown;
}

.wrapper-api-page {
  color: darkorange;
  font-size: 18px;
  font-family: "Courier New", serif, "Bookman Old Style", cursive;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0 0;
  grid-template-areas: "api-caption" "api-info";
}

.api-caption {
  grid-area: api-caption;
  color: grey;
  text-align: center;
}

.api-info {
  grid-area: api-info;
  background-color: #2d3748;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}
.api-info .api-explain {
  border-radius: 5px;
  display: inline;
}
.api-info .api-explain .api-explain-method {
  background-color: black;
  color: white;
}
.api-info .api-explain .api-explain-type {
  background-color: black;
  color: white;
}
.api-info .api-explain .api-explain-data {
  background-color: black;
  color: white;
}
.api-info .api-explain .api-example-code code {
  background-color: #cbd5e0;
}
.api-info .api-explain .api-explain-return {
  background-color: black;
  color: green;
}
